/*=====Reset CSS======*/

article,
aside,
canvas,
figure,
figcaption,
footer,
header,
nav,
section,
audio,
video,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
label {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
button,
input,
input[type="buttton"],
input[type="submit"],
select,
.btn,
textarea {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  font-style: normal;
}

a:focus,
button:focus,
input[type="buttton"]:focus,
input[type="submit"]:focus,
select:focus,
.btn:focus,
textarea:focus,
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a,
label {
  display: inline-block;
  vertical-align: middle;
  vertical-align: 0;
}

figure {
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  margin: 0;
  font-size: 0;
  line-height: 100%;
}

figure,
img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.svg_container {
  display: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

:root {
  --pink: #034d8e;
}

::-moz-selection {
  background-color: var(--pink);
  color: #fff;
}

::selection {
  background-color: var(--pink);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--pink);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-size: 16px;
  line-height: 34px;
  color: #4d5169;
  background: #fff;
  font-family: "Helvetica";
  overflow-x: hidden;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
  font-weight: 600;
  color: #00020f;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}
.cmn_btn {
  font-size: 15px;
  color: #ffffff;
  background-color: #002559;
  min-width: 130px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  border-radius: 5px;
}

.cmn_btn:hover {
  color: #002559;
  background-color: transparent;
  border-color: #002559;
}
.bodypadding {
  padding-left: 40px;
  position: relative;
}
.bodypadding::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background: #b0bae3;
  margin-left: 39px;
}

/* .cmn_btn:hover::before,
.cmn_btn:hover::after{
  display:none;
} */

.navbar-light .navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler span {
  height: 3px;
  width: 26px;
  background: var(--pink);
  border-radius: 5px;
  margin: 6px 0;
  transform-origin: left;
  transition: all 0.5s;
  display: block;
}

.navbar-toggler[aria-expanded="true"].navbar-toggler .bar-top {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"].navbar-toggler .bar-middle {
  opacity: 0;
  /* transform: translateX(1rem); */
}

.navbar-toggler[aria-expanded="true"].navbar-toggler .bar-bottom {
  transform: rotate(-45deg);
}

.header {
  padding: 15px 25px;
}

.header .navbar-brand {
  padding: 0;
  margin: 0px;
  max-width: 120px;
}

.header .navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

/* .header .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--pink);
} */

.header .navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  padding: 0;
  color: #00020f;
  position: relative;
  font-family: "Helvetica";
}
.header .navbar-nav {
  align-items: center;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  color: #ffd200;
}

.header .navbar-light .navbar-nav .nav-item {
  margin-left: 55px;
}

.header .navbar-expand-lg {
  padding: 0;
}
.signupbtn {
  background: #ffd200;
  min-width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
}
.signupbtn:hover {
  background: #1e1e1e;
  color: #ffd200;
}
/* end header */

/* start banner_sect */
.banner_sect {
  width: 100%;
  position: relative;
}
.banner_sect::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: "Scroll Down";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
  background: url(../images/scroll_downarrow.svg) top center no-repeat;
  padding: 56px 0px 0px 0px;
}
.banner_sect img {
  width: 100%;
}
.banimgbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 671px;
}
.banner_sect h1 {
  font-size: 60px;
  line-height: normal;
  font-weight: 800;
  background: url(../images/textimg.png) 0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: 670px;
}
.banncont_wrap {
  position: relative;
}
.banncont {
  width: 56%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  transform: translateY(-331px);
}
.banncont p {
  color: #fff;
  max-width: 430px;
  letter-spacing: normal;
  font-weight: normal;
  margin-top: 15px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.banncont p strong {
  font-weight: 600;
}
.flexpcont {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yellowbtn {
  padding: 0px 24px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: #ffd200;
  width: fit-content;
  text-transform: capitalize;
  white-space: nowrap;
}
.yellowbtn img {
  width: 24px;
  margin-left: 5px;
  padding-top: 3px;
}
.yellowbtn:hover {
  background: #1e1e1e;
  color: #ffd200;
}
.yellowbtn:hover img {
  filter: invert(1);
}

.blackbtn {
  padding: 0px 24px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffd200;
  background: #1e1e1e;
  width: fit-content;
  text-transform: capitalize;
  white-space: nowrap;
}
.blackbtn img {
  width: 24px;
  margin-left: 5px;
  padding-top: 3px;
}
.blackbtn:hover {
  background: #ffd200;
  color: #000;
}
.blackbtn:hover img {
  filter: invert(1);
}
/* end banner_sect */

/* start welcomesection */
.welcomesection {
  width: 100%;
  position: relative;
}
.welcomesection::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " // Introduction //";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}
.welbgbox {
  width: 100%;
  background: url(../images/bg1.png);
  background-size: cover;
  /* padding: 150px 0px; */
}
.smallcontainar {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1624px;
  padding: 0px 60px;
}
.pdr60 {
  padding-right: 60px;
}
.welbgbox h2 {
  font-family: "Oswald";
  color: #00020f;
  font-size: 40px;
  line-height: normal;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
}
.subtitle {
  color: #00020f;
  font-size: 30px;
  margin-bottom: 15px;
}
.sectiongap {
  padding: 60px 0px;
}
.welbgbox p {
  color: #00020f;
  font-size: 16px;
  line-height: 30px;
}
.welbgbox p + p {
  margin-top: 20px;
}
.btnflex {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.btnflex a + a {
  margin-left: 20px;
}
/* end welcomesection */

.blackstrip {
  background: rgb(0, 2, 15);
  padding: 40px;
  text-transform: uppercase;
}
.blackstrip h3 {
  color: #fff;
}
.blackstrip h3::after {
  position: absolute;
  content: " ";
  background: url(../images/hastag.png) top center no-repeat;
  background-size: 100%;
  width: 35px;
  height: 45px;
  margin-left: 25px;
  margin-top: 0px;
}
.programesection {
  position: relative;
}

.programesection::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " ** Program Overview **";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}

.programelisting ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: my-awesome-counter;
}
.programelisting ul li {
  box-sizing: border-box;
  border: 1px solid rgb(176, 186, 227);
  border-radius: 20px;
  color: rgb(77, 81, 105);
  font-size: 22px;
  line-height: 38px;
  padding: 20px;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-right: 2%;
  margin-bottom: 3.5%;
}
.programelisting ul li::before {
  content: counter(my-awesome-counter) "";
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(0, 2, 15);
  background: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin-left: 39px;
  margin-top: -12px;
  text-align: center;
}
.programelisting_titlewrap {
  display: flex;
  justify-content: space-between;
}
.programelisting h2 {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
  max-width: 70%;
  margin-bottom: 30px;
}
.programelisting .readmore {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.programelisting ul li:nth-child(1) {
  width: 45%;
}
.programelisting ul li:nth-child(2) {
  width: 53%;
  margin-right: 0;
}
.programelisting ul li:nth-child(3),
.programelisting ul li:nth-child(4),
.programelisting ul li:nth-child(5) {
  width: 32%;
}
.programelisting ul li:nth-child(5) {
  margin-right: 0;
}
.programelisting ul li:nth-child(6) {
  width: 53%;
}
.programelisting ul li:nth-child(7) {
  width: 45%;
  margin-right: 0;
}
.programelisting ul li:hover {
  background: #46c8d2;
}
.programtxt {
  padding-left: 20px;
}
.programtxt h2 {
  margin-bottom: 34px;
}
.programtxt p {
  margin-bottom: 25px;
}
/*  */
.marketsection {
  position: relative;
  background: #f1f4ff;
}
.marketsection::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " ** steps **";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}
.marketsection h2 {
  margin-bottom: 80px;
}
.market_box {
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 34px;
  position: relative;
  text-align: center;
  margin-right: 35px;
}
.market_box:hover {
  background: rgb(255, 210, 0);
}
.market_box h2 {
  color: #00020f;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  max-width: 160px;
  margin: 30px auto 0;
}
ul.marketlisting {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: market-counter;
}
ul.marketlisting li {
  counter-increment: market-counter;
  position: relative;
}
ul.marketlisting li::before {
  content: counter(market-counter) "";
  position: absolute;
  width: 22px;
  height: 22px;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  color: rgb(0, 2, 15);
  background: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin-left: 39px;
  margin-top: -12px;
  text-align: center;
  z-index: 9;
}
/* Testimonial */
.testimonial {
  background: url(../images/brownbg.png) left top repeat;
  position: relative;
}
.testimonial::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " // testimonials //";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}
.testimonial h2 {
  margin-bottom: 80px;
}
.review_slider {
  padding-bottom: 77px;
}
.review_slider .review_box {
  width: 350px;
  margin: 0px 15px;
}

.review_slider .review_box .review_top {
  padding: 30px 13px 36px 26px;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0 10px 30px 0 rgba(29, 29, 29, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
}

.review_slider .slick-track {
  margin: 0px -15px;
}

.review_box .starts {
  margin-bottom: 14px;
}

.review_box .starts a:not(:last-child) {
  margin-right: 3px;
}

.review_box .starts a i {
  color: #ffc800;
  font-size: 19px;
}

.review_box .review_top p {
  font-size: 15px;
  line-height: 26px;
  color: #484848;
}

.review_bottom {
  display: flex;
  align-items: center;
}

.review_bottom > img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.review_bottom .clint_dtls {
  margin-left: 30px;
}

.review_bottom .clint_dtls p {
  font-size: 22px;
  line-height: 24px;
  color: #13112f;
  margin-bottom: 9px;
  font-weight: 700;
}

.review_bottom .clint_dtls span {
  font-size: 16px;
  line-height: 24px;
  color: #4d5169;
}
.review_slider .slick-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -108px;
  background: url(../images/slidearrow.png) center center no-repeat
    rgb(255, 210, 0);
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.review_slider .slick-prev {
  left: unset;
  right: 150px !important;
}

.review_slider .slick-next {
  transform: rotate(180deg);
  margin-top: -146px;
  right: 40px;
}
.readmorebtn {
  width: 165px;
  margin: 0 auto;
}
/* published expert */
.published_expert {
  background: #ffd200;
  position: relative;
}
.published_expert::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " // Newsletter //";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}
.published_expert::after {
  height: 100%;
  width: 52%;
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  right: 0;
  background: #ffee9d;
}
.yourstore_box {
  background: #ffee9d;
  position: relative;
  z-index: 2;
}
.published_experttitle {
  color: rgb(0, 2, 15);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -3%;
  text-align: left;
  text-transform: capitalize;
}
.newsletterform {
  width: 470px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  padding: 10px;
  margin-top: 20px;
}
.newsletterform input[type="email"] {
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
  border: none;
  width: 100%;
  height: 30px;
}
.newsletterform input[type="email"]:focus-visible {
  border: none;
  box-shadow: none;
  outline: 0;
}
.newsletterform input[type="submit"] {
  background: rgb(30, 30, 30);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  padding: 15px;
  max-width: 180px;
}
.newsletterform input[type="submit"]:hover {
  color: #ffd200;
}
.newsletterquoteimg {
  width: 45px;
  margin-bottom: 30px;
}
.yourstore_box {
  text-align: right;
  max-width: 580px;
  margin-left: 80px;
}
.yourstore_box h2 {
  color: rgb(0, 2, 15);
  font-family: Oswald;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
  max-width: 80%;
}
.yourstore_box h2 span {
  font-weight: 300;
}
.yourstore_box img {
  width: 100px;
  position: relative;
  margin-top: -100px;
  margin-right: 00px;
}

/* blog start */
.blogfullarea {
  position: relative;
}

.blogfullarea::before {
  color: rgb(0, 2, 15);
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  content: " // Articles //";
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -28px;
  top: 50%;
}

.blogheadarea {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.viewtxt {
  text-decoration: none;
  background-color: #ffd200;
  padding: 10px;
  display: block;
}

.blogtoparea {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.imagearea img {
  border-radius: 10px;
}

.blogtxtarea {
  padding-left: 50px;
}
.blogtxtarea h2 {
  line-height: normal;
}

.blogtxtarea h4 {
  color: #4d5169;
  font-size: 18px;
  padding-bottom: 15px;
  font-family: "Helvetica";
  text-transform: uppercase;
}
.blogtxtarea p {
  font-family: "Helvetica";
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 19px;
}

.blogbotarea {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

/* .blogsmlimgarea {
    max-width:374px ;
  } */
.blogsmlimgarea img {
  width: 100%;
  height: auto;
}
.blogsmltext {
  padding-left: 20px;
  width: 296px;
}
.blogsmltext h2 {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 30px;
}

.blogsmltext h4 {
  color: #4d5169;
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Helvetica";
  text-transform: uppercase;
}

/* blog end */
/* footer start */

.foot {
  background-color: #151920;

  /* padding:79px 0 53px; */
}

.footertoplogo {
  border-bottom: 1px solid #e4e4e4;
  padding: 50px 0;
  margin-bottom: 90px;
}
.footarealogo .slick-track {
  display: flex;
  padding: 0 25px;
  align-items: center;
  justify-content: space-between;
}

.footsinglogo {
  width: 130px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.foot-right {
  display: flex;
  justify-content: space-between;
}
.news {
  max-width: 280px;
}
.foot-right h5 {
  color: #f1f4ff;
  font-family: "Helvetica";
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 63px;
  text-decoration: underline;
  text-underline-offset: 30px;
  text-transform: uppercase;
}
.footlinks ul li a {
  color: #f1f4ff;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: 300;
}
.footlinks ul li {
  line-height: normal;
  padding-bottom: 28px;
}

.contactinfo {
  max-width: 336px;
}
.quesarea {
  border-bottom: 1px solid #b0bae3;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.quesarea p {
  max-width: 305px;
  color: #f1f4ff;
  font-size: 18px;
  font-family: "Helvetica";
}

.mailinfo {
  color: #f1f4ff;
  font-size: 18px;
  font-weight: 300;
}

.mailinfo a {
  text-decoration: none;
  color: #fff;
}
.mailinfo a:hover {
  color: #ffd200;
}

ul.cards {
  display: flex;
  align-items: center;
}

ul.cards li {
  margin-right: 14px;
}

ul.cards li:last-child {
  margin-right: 0;
}

.footlinks:first-child {
  margin-left: 51px;
}

.btn.btncol {
  min-width: 280px;
  height: 65px;
  background-color: #bfabfc;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #252526;
  font-weight: 500;
  text-align: center;
  filter: drop-shadow(0px 15px 17.5px rgba(155, 139, 204, 0.25));
}
.btncol:hover {
  background-color: transparent;
  border: 1px solid #bfabfc;
  color: #bfabfc;
}
.news p {
  color: #fff;
}
.footlinks ul li a:hover {
  color: #ffd200;
  transition: 0.3s ease-in-out all;
}
.footerarea {
  border-bottom: 1px solid rgba(217, 217, 217, 0.1);
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.foottoparea {
  /* padding-bottom: 40px; */
}
.footer_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  font-weight: 300;
}
.footer_btm p {
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 18px;
}
.footer_btm p a {
  color: #fff;
}
.foot_left p {
  color: #f1f4ff;
  /* line-height: 26px; */
  font-family: "Helvetica";
  margin-top: 43px;
  max-width: 364px;
  font-size: 18px;
}

.footerbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 15px;
  color: #f1f4ff;
  font-weight: 300;
  font-family: "Helvetica";
}

ul.termtxt {
  display: flex;
  align-items: center;
}

ul.termtxt li {
  padding-right: 10px;
  color: #f1f4ff;
}

ul.termtxt li a {
  color: #f1f4ff;
  font-size: 18px;
  font-family: "Helvetica";
}

ul.termtxt li a:hover {
  text-decoration: underline;
}

ul.termtxt li:last-child {
  margin-right: 0;
}

/* footer end */

/* start aboutsection */
.innerbnnar {
  width: 100%;
  position: relative;
  background: #ffd200;
  padding: 60px 0px;
}
.innerbnnar h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.innerbnnar h1 {
  font-size: 60px;
  font-family: "Oswald";
  line-height: normal;
  max-width: 760px;
  margin: 0 auto;
}
.smoochfont {
  font-family: "Smooch", cursive;
  font-weight: 100;
}

.wasmundsection h2 {
  width: 100%;
  max-width: 620px;
}
.contmaxwidth {
  width: 100%;
  max-width: 662px;
}
.midealist {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 166px;
  justify-content: space-between;
  margin-left: 30px;
}
.midealist li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #ffd200;
  color: #00020f;
  font-size: 22px;
}
.midealist li a:hover {
  background: #00020f;
  color: #ffd200;
}
.ceolistbox {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
}
.ceolistbox li {
  max-width: 188px;
}
.iconbox {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #ffffff4d;
  margin-bottom: 20px;
}
.ceocontentbox p {
  color: #343643;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.succesection {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.success_countbox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 30px;
  margin-top: 50px;
}
.countroundbox {
  flex: 1;
  background: #ffffff;
  border-radius: 100px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countroundbox:nth-child(even) {
  background: #ffd200;
}
.countroundbox h4 {
  font-size: 35px;
  font-weight: 700;
}
.countroundbox p {
  font-size: 16px;
  font-weight: 400;
  color: #00020f;
  width: 100%;
  max-width: 120px;
  margin: 10px auto 0;
}
.headingcompany.text-center {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
/* start centersld */

.ourcompanysect .slick-arrow,
.ourcompanysect .swiper-button-prev {
  position: absolute;
  background: url(../images/slidearrow.png) center center no-repeat
    rgb(255, 210, 0);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  top: 40px;
  left: 0;
  z-index: 3;
}
.ourcompanysect .slick-next,
.ourcompanysect .swiper-button-next {
  transform: rotate(180deg);
  left: 0;
  top: 100px;
  z-index: 3;
}
.ourcompanysect .swiper-button-next {
  position: absolute;
  background: url(../images/slidearrow.png) center center no-repeat
    rgb(255, 210, 0);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  top: 140px;
}
.centerslidcont {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(50%);
  opacity: 0;
  padding: 0px 20px 0px 0px;
  min-width: 495px;
}
.centerslidcont h5 {
  font-size: 30px;
  font-weight: 700;
  color: #00020f;
  margin-bottom: 20px;
}
.centerslidcont p {
  font-family: Helvetica;
  font-size: 16px;
  color: #4d5169;
}
.centerslidcont .midealist {
  margin: 15px 0px;
}
/* end centersld */

/* start swiper */
.swiper-container {
  position: relative;
  height: 534px;
  margin-top: 60px;
}

.swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-slide {
  height: 534px;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: all 200ms linear;
  padding: 0px 10px;
  /* transform: scale(0.8); */
}
.swiper-slide.swiper-slide-active {
  /* transform: scale(1); */
  height: auto;
  width: 450px !important;
  transition: 0.7s all ease-in-out;
}
.swiper-slide img {
  height: 200px;
  border-radius: 10px;
}
.swiper-slide.swiper-slide-active img {
  width: 100%;
  z-index: 4;
  position: relative;
  height: auto;
}
.centartstylslider {
  position: relative;
  margin-left: -210px;
}
.centartstylslider .content {
  position: absolute;
  width: 16%;
  height: 100%;
  bottom: 100px;
  padding-left: 100%;
  box-sizing: border-box;
}
.swiper-slide.swiper-slide-active .centerslidcont {
  opacity: 1;
  transition: 1.5s all ease-in-out;
  z-index: 1;
}
.swiper-slide .centerslidcont {
  top: 15px;
}
/* end swiper */

.corevaluesect {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.missionbox {
  width: 100%;
  max-width: 600px;
  background: #ffd200;
  border-radius: 10px 80px 10px 80px;
  padding: 70px 40px;
  text-align: center;
}
.missionbox h4 {
  font-size: 40px;
  font-weight: 700;
  color: #00020f;
  margin-bottom: 20px;
}
.missionbox p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #00020f;
  margin: 0px auto;
  max-width: 480px;
}
.flxalin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clintbox ul {
  margin: 50px 0px 0px;
  padding: 0px;
  counter-reset: section;
}
.clintbox ul li h6 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.clintbox ul li p {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}
.clintbox ul li {
  position: relative;
  padding-left: 100px;
}
.clintbox ul li + li {
  margin-top: 40px;
}
.clintbox ul li::before {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  font-family: "Oswald";
  color: #d4daee;
  top: 25px;
}
.published h3 {
  margin-bottom: 30px;
}
.published p {
  border-left: 5px solid #1e1e1e;
  padding-left: 30px;
  max-width: 600px;
  margin-bottom: 30px;
}
.besp {
  color: #00020f;
  margin-top: 20px;
  border: 0px !important;
  padding: 0px !important;
  opacity: 60%;
}
.coxheading h3 {
  margin: 0px;
}
.coxheading {
  margin-bottom: 70px;
}
.booksection {
  width: 100%;
  position: relative;
  background: #ffd200;
  padding: 60px 0px;
}
.booksection .blackbtn {
  color: #fff;
  border: 1px solid #1e1e1e;
}
.booksection .blackbtn:hover {
  color: #1e1e1e;
}
.booksection .blackbtn img {
  filter: brightness(0) invert(1);
}
.booksection .blackbtn:hover img {
  filter: brightness(0) invert(0);
}
.booksection .btnflex {
  justify-content: center;
}
/* end aboutsection */

/* start expert_programsect */
.explinnerbox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1270px;
  margin: 0 auto;
  align-items: center;
}
.innerbnnar .expheading h1 {
  max-width: 700px;
}
.expcontent .btnflex {
  flex-direction: column;
  align-items: normal;
}
.expcontent p {
  font-weight: 400;
  color: #1e1e1e;
}
.expcontent .btnflex a + a {
  margin: 40px 0px 0px;
}
.expcontent {
  width: 100%;
  max-width: 468px;
}
.expcontent .yellowbtn {
  background: #fff;
  color: #1e1e1e;
  border: 2px solid #fff;
}
.expcontent .yellowbtn:hover {
  background: transparent;
  color: #fff;
}
.expcontent .blackbtn {
  background: #46c8d2;
  color: #fff;
  border: 2px solid #46c8d2;
  padding: 0px 30px;
}
.expcontent .blackbtn img {
  filter: brightness(0) invert(1);
}
.expimgbox {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 0px 0px 26px 24px;
}
.expimgbox .imgsheap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
}
.expfullimg {
  position: relative;
  z-index: 1;
}
.newcontmaxwidth {
  max-width: 1270px !important;
}
.maxfull {
  max-width: 100% !important;
}

.contmaxwidth {
  max-width: 620px;
}
.welbgbox.sectiongap .success_countbox {
  margin-top: 40px;
}
.welbgbox.sectiongap .success_countbox .countcont {
  text-align: center;
}

.welbgbox.sectiongap .countroundbox {
  height: 180px;
}
.welbgbox.sectiongap .countroundbox p {
  margin-top: 0px;
}
.pl40 {
  padding-left: 40px;
}
.achievesect {
  width: 100%;
  position: relative;
}
.achievlist {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 60px;
  counter-reset: section;
}
.achieviteam .achievicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  background: #ffd200;
  margin: 0 auto 26px;
  position: relative;
  z-index: 1;
}
.achieviteam .acvcont h5 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
.achieviteam .acvcont p {
  font-size: 16px;
  font-weight: 400;
  color: #4d5169;
}
.acvcont {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.achieviteam {
  width: 25%;
  padding: 0px 15px;
  position: relative;
}
.achieviteam::after {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  left: 0;
  font-size: 100px;
  font-weight: 700;
  font-family: "Oswald";
  color: #eceef8;
  top: -48px;
  left: 0;
  right: 0;
}
.achievicon img {
  width: 50px;
}
.welcomesection.mentorshipsect {
  background: #f1f4ff !important;
}
.mentorshipsect h2 {
  max-width: 460px;
}
.mb30 {
  margin-bottom: 30px;
}
.mentorshipsect .contmaxwidth {
  max-width: 560px;
}
.communityiteam {
  padding: 10px 15px;
}
.communityslider {
  position: relative;
}
.communityslider::before {
  content: "";
  position: absolute;
  background: url(../images/slidshadow.png) no-repeat;
  background-size: 100%;
  top: -1px;
  height: 100%;
  width: 35%;
  z-index: 1;
  right: 0;
  background-repeat: repeat-y;
}
.mrb100 {
  margin-bottom: 120px;
}
.our_communitysect .blackbtn {
  color: #fff;
}
.our_communitysect .blackbtn img {
  filter: brightness(0) invert(1);
}
.pmaxwidth {
  max-width: 490px;
}
.thought_leadesec .achieviteam {
  display: flex;
  align-items: self-start;
  width: 100%;
  justify-content: unset;
}
.thought_leadesec .achieviteam .acvcont {
  max-width: 478px;
  padding-left: 30px;
  margin: 0px;
}
.thought_leadesec .achieviteam .achievicon {
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin: 0px;
}
.thought_leadesec .achieviteam .achievicon img {
  width: 40px;
}
.thought_leadesec .achieviteam::after {
  display: none;
}
.thought_leadesec .achieviteam .acvcont h5 {
  font-size: 26px;
  transform: none;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 35px;
  max-width: 340px;
  margin-bottom: 15px;
}
.thought_leadesec .achieviteam .acvcont p {
  margin: 0px;
}
.thought_leadesec .achieviteam + .achieviteam {
  margin-top: 40px;
}
.thought_leadesec {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.mb70 {
  margin-bottom: 70px;
}
/* end expert_programsect */

/* start testimonialbanner */
.testimonialbanner h1 {
  text-transform: none;
  max-width: 800px;
}
.btnwhiteboxbtn .yellowbtn {
  background: #fff;
  color: #1e1e1e;
  border: 2px solid #fff;
}
.btnwhiteboxbtn .yellowbtn:hover {
  background: transparent;
  color: #fff;
}
.btnwhiteboxbtn {
  justify-content: center;
  margin-top: 30px;
}
.mrt100 {
  margin-top: 100px;
}
.satisfiedsect {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.atisfiedheading {
  max-width: 670px;
  margin: 0 auto 90px;
}
.satisfiedclients .satitem {
  margin: 0px 15px;
  position: relative;
  opacity: 0.3;
}
.satisfiedclients .satitem.slick-center {
  opacity: 1;
}
.satitemcontent h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
}
.satitemcontent p {
  font-size: 16px;
  font-weight: 400;
  color: #c7cada;
  margin: 0px;
}
.satitemcontent {
  position: absolute;
  bottom: 0;
  padding: 35px;
  width: 100%;
}
.playbtn {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.4); */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: url(../images/halfring.svg) no-repeat rgba(255, 255, 255, 0.4);
  background-size: 44px 44px;
  background-position: center center;
  position: absolute;
  right: 35px;
  bottom: 50px;
}
.satisfiedclients .satitem.slick-center .playbtn {
  width: 75px;
  height: 75px;
  background-size: 100% 100%;
  background-position: 1px 0px;
  bottom: auto;
  top: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.satisfiedclients .slick-arrow {
  position: absolute;
  background: url(../images/slidearrow.png) center center no-repeat
    rgb(255, 210, 0);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  z-index: 2;
}

.satisfiedclients .slick-next {
  transform: rotate(180deg);
  right: 20px;
}
.satisfiedclients .slick-prev {
  left: 20px;
}
.succesectionwhite {
  background: #fff;
}
.succesectionwhite .countroundbox {
  background: #f1f4ff;
}
.succesectionwhite .countroundbox:nth-child(even) {
  background: #ffd200;
}
.satisfiedclients::before {
  position: absolute;
  content: "";
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/sldshead.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.satisfiedclients::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  background: url(../images/sldshead2.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.success_storiesld .slick-dots li button {
  border: 1px solid #00020f;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  padding: 0;
  display: flex;
  font-size: 0px;
}
.success_storiesld .slick-dots li button::before {
  display: none;
}
.success_storiesld .slick-dots li.slick-active button {
  background: #00020f;
}
.success_storiesld .slick-dots li {
  width: auto;
  height: auto;
}
.success_storiesld .slick-dots {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  left: 35px;
  margin: 0;
  list-style: none;
  text-align: left;
}
.listenimgbox {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}
.listenimgbox {
  position: relative;
}
.listenimgbox::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  right: -20px;
  bottom: -20px;
  background: url(../images/sldimgsheap.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.listenimgbox img {
  position: relative;
  z-index: 2;
}
.listenimgbox .playbtn {
  z-index: 3;
  width: 75px;
  height: 75px;
  background-size: 100% 100%;
  background-position: 1px 0px;
  bottom: auto;
  top: 50%;
  left: 50%;
  right: auto;
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.success_storiesld .besp {
  margin-bottom: 0px;
}
.success_storiesld {
  padding-left: 40px;
}
.case_studiesect {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.casecont {
  padding: 30px;
}
.casecont h5 {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}
.casecont p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0px;
  color: #545454;
  text-transform: capitalize;
}
.mb80 {
  margin-bottom: 80px;
}
/* end testimonialbanner */

/* start blog section */
.knowledgesection {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.blogcontbox h6 {
  text-transform: uppercase;
  color: #4d5169;
  font-size: 20px;
  margin: 30px 0px;
}
.blogcontbox {
  padding: 0px 15px;
}
.blogcontbox h3 {
  margin-bottom: 30px;
}
.blogwhitebox {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 19px 36px 0px #09112c0a;
  padding: 30px;
}
.blogwhitebox p {
  max-width: 420px;
}
.maxbtn {
  min-width: 180px;
  height: 60px;
}
.blogform .form-control {
  height: 60px;
  padding-left: 25px;
  border-radius: 0px;
  border: 0px;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
  text-transform: capitalize;
}
.blogform .form-control::placeholder {
  color: #1e1e1e;
}
.blogform .form-control:focus {
  box-shadow: none;
  border: 0px;
}
.input-group.blogform {
  padding: 5px 5px 5px 0px;
  background: #f1f4ff;
  border: 1px solid #b0bae3;
}
.blknopd {
  padding: 0px 40px;
}
.blknopd .slick-track {
  padding: 25px 0px;
}
/* end blog section */

/* start blogdetails */
.innerbnnarblogdtl {
  width: 100%;
  position: relative;
}
.innerbnnarblogdtl img {
  width: 100%;
}
.blogd_container {
  width: 100%;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}
.blogdetailsect {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.blogdetailsect h6 {
  text-transform: uppercase;
  color: #4d5169;
  font-size: 20px;
  margin: 0px 0px 24px;
}
.blogdflex {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 36px;
}
.blogdimg {
  min-height: 70px;
}
.blogdflexcont {
  padding-left: 20px;
}
.blogdflexcont h5 {
  font-size: 18px;
  font-weight: 700;
  color: #00020f;
  margin-bottom: 10px;
}
.blogdflexcont p {
  margin: 0px;
}
/* end blogdetails */

.mentorshipcont p {
  margin-bottom: 30px;
}
/* start 10.04.24 */
.published_expert .newsletterform .wpcf7-spinner {
  display: none;
}
.blogmaincont {
  width: 100%;
  position: relative;
}
.blogmaincont {
  width: 100%;
  position: relative;
  max-width: 1210px;
}
.blogdetailsect p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0px;
}
.blogdetailsect p + p {
  margin-top: 30px;
}
.blogdetailsect blockquote {
  border-left: 3px solid #ffd200;
  padding-left: 30px;
  margin: 80px 0px 60px 60px;
  width: 100%;
  max-width: 830px;
}
.blogdetailsect blockquote p strong {
  font-weight: 700;
}
.blogdetailsect h2,
.blogdetailsect h3 {
  text-transform: none;
}
.blogdetailsect h3 {
  margin-bottom: 10px;
}
.blogmaincont2 {
  width: 100%;
  position: relative;
  max-width: 950px;
}
.blogdetailsect ul {
  margin: 30px 0px 60px;
  padding: 0px;
}
/* .blogdetailsect li {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #1e1e1e;
  padding-left: 50px;
  background: url(../images/check.svg) no-repeat;
  background-position: top left;
  background-size: 26px 26px;
} */
.blogdetailsect li + li {
  margin-top: 25px;
}
.blogpagination {
  width: 100%;
  max-width: 480px;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogpegination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  padding: 0px;
  border-radius: 6px;
}
.blogpegination .page-item .page-link {
  background: transparent;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
}
.blogpegination .page-item.active .page-link {
  background: #ffd200;
}
.blogpegination a {
  color: #6a697c;
}
.blackstriplistsld .slick-slide {
  display: block;
  width: fit-content !important;
  padding-right: 40px;
  margin-right: 80px;
}
/* end 10.04.24 */

/* start press_mediaben */
.press_mediaben h1 {
  max-width: 880px;
}
.pressmediabensection {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #cacaca;
}
.pressmediabensection .nav-tabs .nav-item.show .nav-link,
.pressmediabensection .nav-tabs .nav-link.active {
  border: 0px;
  color: #00020f;
  border-bottom: 2px solid #00020f;
}
.pressmediabensection .nav-tabs .nav-link {
  border: 0px;
  padding: 0px;
}
.pressmediabensection .nav-link {
  color: #a2a2a2;
  font-size: 18px;
  text-transform: capitalize;
}
.pressmediabensection .nav-tabs {
  border-bottom: 0px;
}
.pressmediabensection .nav.nav-tabs {
  gap: 0px 40px;
}
.pressmediabensection .blogsmltext {
  padding-left: 0px;
  width: 100%;
  margin-bottom: 80px;
}
.pressmediabensection .tab-content {
  margin-top: 70px;
}

.pressmediabenmorboxsection {
  position: relative;
  width: 100%;
}
.bordnon {
  border-bottom: 0px;
}
.medimgbox {
  margin-bottom: 30px;
}
.pressmediabensection.sectiongap {
  padding-bottom: 20px;
}
.mediakitsect {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.mediakitheading p {
  max-width: 420px;
  margin: 30px auto;
  font-size: 18px;
}
.mediakitheading .yellowbtn {
  margin: 0 auto;
}
.mediakitwhitebox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 25px;
  width: 100%;
  height: 290px;
  text-align: center;
}
.mediakitwhitebox h3 {
  font-size: 22px;
  margin-bottom: 25px;
}
.mediakitwhitebox p {
  max-width: 290px;
  margin: 0 auto;
}
.mediakitheading {
  margin-bottom: 80px;
}
/* end press_mediaben */

/* start contact us */
.contactban h1 {
  width: 100%;
  max-width: 500px;
}
.blogcontbox.blogwhitebox .input-group.blogform {
  flex-wrap: nowrap;
}
.blogcontbox.blogwhitebox .input-group.blogform .wpcf7-spinner {
  display: none;
}
.contactformsect .form-control {
  height: 52px;
  box-shadow: 0px 7px 29px 0px #00000014;
  border-radius: 5px;
}
.contactformsect label {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #1e1e1e;
}
.contactformsect .form-control::placeholder {
  color: #8d90a5;
}
.mb8 {
  margin-bottom: 80px;
}
.form-check {
  font-size: 16px;
  line-height: 26px;
}
.form-check a {
  color: #0b2236;
  font-weight: 700;
  text-decoration: underline;
}
.contactformsect .yellowbtn {
  box-shadow: none;
  border: 0px;
  outline: none;
  margin-top: 35px;
}
.wellowcontactbox {
  width: 100%;
  position: relative;
  background: #ffd200;
  padding: 40px;
  border-radius: 10px;
}
.wellowcontactbox h3 {
  margin-bottom: 20px;
}
.wellowinsidecont p {
  color: #00020f;
}
.wellowinsidecont {
  width: 100%;
  max-width: 330px;
}
.contactlistdtl {
  margin: 30px 0px 0px;
  padding: 0px;
}
.contactlistdtl li {
  display: flex;
  align-items: center;
}
.contactlistdtl li:last-child {
  align-items: self-start;
}
.contactlistdtl li p {
  margin: 0px;
}
.contactlistdtl li .cticon {
  width: 20px;
}
.contactlistdtl li + li {
  margin-top: 20px;
}
.cticonlist {
  padding-left: 20px;
  max-width: 260px;
}
.wellowcontactbox .midealist {
  margin-left: 0px;
  margin-top: 30px;
}
.wellowcontactbox .midealist li a {
  background: #00020f;
  color: #ffd200;
  border: 1px solid #00020f;
}
.wellowcontactbox .midealist li a:hover {
  background: #ffd200;
  color: #00020f;
}
.mapimgsection {
  width: 100%;
  position: relative;
  margin-top: -300px;
}
.mapimgsection img {
  width: 100%;
}
.contactformsect {
  position: relative;
  z-index: 1;
}
.faqsection {
  width: 100%;
  background: #f1f4ff;
}
.faqflex {
  display: flex;
  margin-bottom: 30px;
}
.qusicon {
  background: #ffd200;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.quscont h3 {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: none;
}
.quscont p {
  max-width: 280px;
}
.quscont {
  padding-left: 30px;
}
.faqsection .blogcontbox.blogwhitebox {
  margin-top: 60px;
}
.faqsection .accordion-item {
  border: 0px;
  box-shadow: 0px 14px 32px 0px #00000008;
  border-radius: 10px;
}
.faqsection .accordion-button {
  border-radius: 10px !important;
  border: 0px;
  box-shadow: none;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #1e1e1e;
  padding: 15px 20px;
}

.faqsection .accordion-body p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}
.faqsection .accordion-button:not(.collapsed) {
  background: #fff;
}
.faqsection .accordion-button::after {
  background-image: url(../images/arrow.svg);
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
}
.faqsection .accordion-button:not(.collapsed)::after {
  background-image: url(../images/arrow.svg);
}
.faqsection .accordion {
  margin-top: 10px;
}
/* end contact us */
.market_box img {
  width: 100%;
  height: 50px;
}
.faqsection .accordion-item + .accordion-item {
  margin-top: 25px;
}

/* start faqsection */
.faqsection .nav.nav-tabs {
  margin-bottom: 100px;
}
.faqsection .nav-tabs .nav-item.show .nav-link,
.faqsection .nav-tabs .nav-link.active {
  border: 0px;
  color: #1e1e1e;
  box-shadow: 0px 30px 45px 0px #d9b3003b;
  background: #ffd200;
}
.faqsection .nav-tabs .nav-link {
  border: 0px;
  padding: 0px;
  width: 220px;
  height: 180px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  background: #fff;
  border: 1px solid #e6e6e6;
}
.faqsection .nav-link {
  color: #1e1e1e;
  font-size: 18px;
  text-transform: capitalize;
}
.faqsection .nav-tabs {
  border-bottom: 0px;
}
.faqsection .nav.nav-tabs {
  gap: 0px 30px;
}
.jstcentear {
  justify-content: center;
}
.faqicon {
  margin-bottom: 20px;
}
.faqtabheading {
  text-align: center;
  margin-bottom: 60px;
}
.faqpagestyl {
  border-top: 1px solid #b2bee9;
  padding-top: 100px;
  margin-top: 100px;
}
.faqpagestyl .quscont p {
  max-width: 100%;
}
/* end faqsection */

/* start policysection */
.policysection {
  width: 100%;
  position: relative;
  background: #f1f4ff;
}
.policycontainer {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.policysection p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.policysection h3 {
  margin: 40px 0px;
}
.policysection h6 {
  font-family: Helvetica;
  font-size: 20px;
  margin-bottom: 25px;
}
.policysection p b {
  font-weight: 700;
  color: #1e1e1e;
}
.tcban h1 {
  max-width: 100%;
}
/* end policysection */

/* start for blogdetail html */
.bloglisting li {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #1e1e1e;
  padding-left: 50px;
  background: url(../images/check.svg) no-repeat;
  background-position: top left;
  background-size: 26px 26px;
}
.blogpegination ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogpegination {
  width: 100%;
  max-width: 480px;
  margin: 80px auto 0 auto;
}
.blogpegination ul li {
  margin: 0px;
}
.blogsmallcont {
  border-left: 3px solid #ffd200;
  padding-left: 30px;
  margin: 80px 0px 60px 60px;
  width: 100%;
  max-width: 830px;
}
.blogsmallcont p strong {
    font-weight: 700;
}
/* end for blogdetail html */
